<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VarietyServlet</servlet-name>
		<servlet-class>servlet.VarietyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SceneryServlet</servlet-name>
		<servlet-class>servlet.SceneryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>servlet.UserServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AskServlet</servlet-name>
    <servlet-class>servlet.AskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>servlet.NoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShortServlet</servlet-name>
    <servlet-class>servlet.ShortServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DiscussServlet</servlet-name>
    <servlet-class>servlet.DiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HunterServlet</servlet-name>
    <servlet-class>servlet.HunterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>servlet.DateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HotelServlet</servlet-name>
    <servlet-class>servlet.HotelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>











	<servlet-mapping>
		<servlet-name>VarietyServlet</servlet-name>
		<url-pattern>/servlet/VarietyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SceneryServlet</servlet-name>
		<url-pattern>/servlet/SceneryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/servlet/UserServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskServlet</servlet-name>
    <url-pattern>/servlet/AskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/servlet/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/servlet/NoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShortServlet</servlet-name>
    <url-pattern>/servlet/ShortServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiscussServlet</servlet-name>
    <url-pattern>/servlet/DiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HunterServlet</servlet-name>
    <url-pattern>/servlet/HunterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/servlet/DateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotelServlet</servlet-name>
    <url-pattern>/servlet/HotelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/servlet/OrderServlet</url-pattern>
  </servlet-mapping>
</web-app>